.nav_menu {
	margin-bottom: 0 !important;
}

.right_col {
	display: flex !important;
	flex-direction: column !important;
}

.right_col .content {
}

.right_col .bg-footer {
	flex: 1 !important;
	margin: 0px -20px -30px !important;
	/* background-image: url(../images/footer.png) !important; */
	background-repeat: no-repeat !important;
	background-position: center top !important;
	background-size: cover !important;
	background-attachment: scroll !important;
	/* background-size: 100% 700px; */
	/* background-size: cover; */
}

td a.btn-pink {
	color: white !important;
	background-color: #fa625f !important;
	border-color: #e0474c !important;
}

th, td {
	vertical-align: middle !important;
}

input[type="file"] {
	display: block;
  }
  .imageThumb {
	max-height: 75px;
	border: 2px solid;
	padding: 1px;
	cursor: pointer;
	width: 100px;
	height: 100px;
  }
  .pip {
	display: inline-block;
	margin: 10px 10px 0 0;
  }
  .remove {
	display: block;
	background: #444;
	border: 1px solid black;
	color: white;
	text-align: center;
	cursor: pointer;
  }
  .remove:hover {
	background: white;
	color: black;
  }

  .imagePreview {
    width: 100%;
    height: 180px;
    background-position: center center;
  	/* background:url(http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg); */
  	background-color:#fff;
    background-size: cover;
  	background-repeat:no-repeat;
    display: inline-block;
  	box-shadow:0px -3px 6px 2px rgba(0,0,0,0.2);
}
.upload{
  display:block;
  width: 100%;
  border-radius:0px;
  box-shadow:0px 4px 6px 2px rgba(0,0,0,0.2);
  margin-top:-5px;
}
.imgUp{
  margin-bottom:15px;
}
/* multiple upload file - first-child delete button  */
div:nth-child(1) > i.del{
  display: none;
}
.del{
  position:absolute;
  top:0px;
  right:15px;
  width:30px;
  height:30px;
  text-align:center;
  /* line-height:30px; */
  padding: 8px;
  background-color:rgba(255,255,255,0.6);
  cursor:pointer;
}
.delOldImg{
  position:absolute;
  top:0px;
  right:15px;
  width:30px;
  height:30px;
  text-align:center;
  /* line-height:30px; */
  padding: 8px;
  background-color:rgba(255,255,255,0.6);
  cursor:pointer;
}
.imgAdd{
  width:30px;
  height:30px;
  border-radius:50%;
  background-color:#4bd7ef;
  color:#fff;
  box-shadow:0px 0px 2px 1px rgba(0,0,0,0.2);
  text-align:center;
  /* line-height:30px; */
  margin-top:0px;
  cursor:pointer;
  font-size:15px;
  padding: 8px;
}

/*  */


